/* Global-styles */
body, html, p, footer, div, article, aside, nav,section
{
    margin: 0;
	padding: 0;
    box-sizing:border-box;
    font-family: "Science Gothic", sans-serif;
}
body{
    background-image: url("images/pexels-apasaric-1694000.jpg");
    background-attachment: fixed;
}
main{
    margin: auto;
    display: grid;
    place-items: center;
}
nav{
	

   
    width: 100%;
    text-align: center;
    font-size: 18px;
}
   
    nav ul{
        margin: 0;
	    padding: 0;
        width: 100%;
        display: flex;
        justify-content:center;
        height: 100%;
    }
    nav ul li{
        padding: 15px;
        
        border-right: white solid 2px;
        background-image: linear-gradient(to bottom, #173d76, #000000);
    }
    nav ul li:hover{
        background-image: linear-gradient(to bottom, #009bcf, #000000);
    }


ul li{
    list-style: none;
}

footer{

    width: 100%;
    font-size: 15px;
    margin-top: 5%;
    
}
    footer ul{
        display: flex;
        justify-content:center;
    }
    footer ul li{
        padding: 15px;
        display: inline-block;
        border-right: white solid 2px;
        text-align: end;
        background-image: linear-gradient(to top, #173d76, #000000);
        
    }
    footer ul li:hover{
        background-image: linear-gradient(to top, #009bcf, #000000);
    }
    nav ul li:nth-last-child(1), footer ul li:nth-last-child(1)
    {
        border: none;
    }

section{
    border-radius: 5%;
    background-image: linear-gradient(to bottom, #3e1776, #101a2a);
    color: #fff;
}

a{
   text-decoration: none;
    color:white; 
}
/* index-page */
#intro, #overview, #about-main{
    border-radius: 5%;
    padding: 2%;
    width: 75%;
    background-color: #303461;
}
    #intro p{
        font-size: 18px;
    }
    #intro h1{
        font-size: 25px;
    }
    #overview p{
        font-size: 18px;
    }
    #intro{
        margin-top: 5%;
    }
    #overview{
        margin-top: 1%;
    }

#skills{
    
    margin-top: 3%;
    width: 40%;
    
    text-align: center;
    
}
    #skills ul li{
        padding-right: 2%;
        font-size: 20px;
        display: inline-block;
        

    }
    #intro h1{
        font-size: 42px;
        
    }
    #skills h1{
        font-size: 32px;
    }


/* projects-page */
#side-skills
{
    border-radius: 5%;
    width: 25%;
    position: fixed;
    margin-top: 1%;
    height: 65%;
    background-color: rgb(213, 255, 255);
    right:25px;
    color:#101a2a;
}
    #side-skills h1{
        padding-left: 10%;
    }
    #side-skills ul li{
        padding:0.5%;
        font-size: 24px;
        width: fit-content;
    }

#projects
{
    margin-left: 10%;
    padding: 5%;
    background: none;
    color: #fff;
}

    #projects section{
        background-image: linear-gradient(to bottom, #3e1776, #101a2a);
        width: 65%;
        height: 70%;
        text-align: center;
        padding:0.5%;
        margin-top: 1%;
        box-shadow: 5px 20px 10px #14021d;
        

    }
    #projects section section{
        background: none;
        box-shadow: none;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
    #projects a{
        color: white;
    }
    #projects a:hover{
        color:rgb(255, 251, 39);
    }
    #projects section h2{
        font-size: 18px;
        text-shadow: 3px 2px #110045;
    }
    #projects section h1{
        text-shadow: 3px 2px #110045;
    }
    #projects section img{
        width: 660px;
        height: 378px;
    }

/* about page */
#about-main{

    padding: 4%;
    margin-top: 5%;
    background-image: linear-gradient(to bottom, #3e1776, #101a2a);
    border-radius: 2%;

}
    #about-main section{
        background: none;
    }
    #about-main p{
        font-size: 21px;
        padding: 1%;
        

    }

/* contact page */

#contact_main section{

    padding: 2%;
    width: fit-content;
    margin-top: 5%;
    font-size: 25px;
}

@media(max-width:767px){


	nav ul{
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
	}
	
    #projects section{
        
        margin: auto;
        margin-top: 1%;
    }
    #projects section img{
        width: 230px;
        height: 128px;
    }
    #side-skills{
        display: none;
    }
        
}